* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;

	font-family: 'Poppins', sans-serif;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

.root {
	width: 100vw;
	height: 100vh;
}